<div class="account-topbar">
    <a href="/" class="link-button home-button">Home</a>
    <h1 class="page-title" style="color:#ffb900">{{ page_title or "sys://unnamed" }}</h1>
    <div class="account-controls">
        {% if user %}
            <a class="account-username" style="color:#00cafe; text-decoration: none;">{{ user.username }}</a>
            <a href="/dashboard" class="link-button">Dashboard</a>
            <a href="/account/logout" class="link-button">Logout</a>
        {% else %}
            <a href="/account/login" class="link-button">Login</a>
        {% endif %}
    </div>
</div>