{% extends "base.html" %}

{% block content %}
<h1>sys://CU Community network</h1>
<div class="window" style="width: 80%; border-color: #6488EA;">
  <div class="window-top-bar" style="background-color: #6488EA;">news.txt<span class="fake-close">X</span></div>
  <div class="window-content" style="color: #6488EA;">
    Последние новости:<br>
    [29/08/2025] IRC работает! Подключаться можно с кукнета и с интернета. <br>
    [15/09/2025] Телеграм бот не работает! Мы его разрабатываем.<br>
    [18/09/2025] Привет питчинг :)<br>
    [19/09/2025] <span style="color:gold">Мы прошли питчинг! ура!</span><br>
    [20/09/2025] Сайт переведен на русский. 
  </div>
</div>
<div class="window" style="width: 80%">
	<div class="window-top-bar">Main.exe<span class="fake-close">X</span></div>
	<div class="window-content">
		<div class="warning">⚠ Сайт еще разрабатывается, могут быть баги!</div>
		<p>
			<span style="color:lime">48 65 6C 6C 6F 20 43 55 21</span><br>
			Добро пожаловать на главный сервер сети сообщества ЦУ!<br>
			Тут будут новости, статусы и документация.<br>
			Обновлено: <b style="color:aqua">22/09/2025</b><br>
			Наш <a href="/guides/irc" style="color:lime"><b>IRC</b></a> сервер доступен на: <span style="color:lightblue">server.cucnet:6667</span> (только с кукнета) или <span style="color:lightblue">cucnet.ddns.net:6667</span> (Интернет)<br>          
		</p>
		<a href="/status" class="link-button">> Статус сервисов <</a>
		<a href="/about" class="link-button">> О сети</a>
		<a href="/contacts" class="link-button">> Наши контакты</a>
		<a href="/rules" class="link-button">> Правила</a>
		<a href="/guides" class="link-button">> Гайды</a>
	</div>
</div>
<div class="window" style="width: 80%">
	<div class="window-top-bar">Useful_links.txt<span class="fake-close">X</span></div>
	<div class="window-content">
		<a href="https://t.me/+Oh37S1yuCEszZjQy" class="blue-button">CUCnet://chat</a>
		<a href="https://t.me/cucnet_bot" class="blue-button">Телеграм бот</a>
	</div>
</div>
{% endblock %}
