{% extends "base.html" %}

{% block content %}
<h1>info://CUCnet</h1>
<div class="window" style="width: 80%; height: 400px;">
  <div class="window-top-bar">notepad.exe: about.txt<span class="fake-close">X</span></div>
  <div class="window-content" style="font-family:'TDAtext'">
    CUCnet = CU Community network<br>
    <span style="color:lime">~$ setenv lang ru:Ru</span><br>
    Произносится: кукнет, общественная (виртуальная) сеть ЦУ<br>
    ------<br>
    Кукнет это частная приватная сеть (vpn) дл студенческого использования.<br>
  </div>
</div>
<a href="/" class="link-button">> Домой</a>
{% endblock %}
