{% extends "base.html" %}

{% block content %}
<h1>info://CUCnet</h1>
<div class="window" style="width: 80%; color:coral; border-color:coral">
    <div class="window-top-bar" style="background-color:coral">notepad.exe: about.txt<span class="fake-close">X</span></div>
    <div class="window-content">
        CUCnet = CU Community network<br>
        <span style="color:lime">~$ setenv lang ru:Ru</span><br>
        Произносится: кукнет, виртуальная сеть коммюнити ЦУ<br>
        <br>
        Кукнет это частная приватная сеть (vpn) для студенческого использования.<br>
        В ней можно хостить свои проекты, вебсайты, сервисы - и другие пользователи и студенты смогут получить к ней доступ.<br>
        Каждый может захостить свой проект - для этого нужно лишь зайти в сеть и запусть сервер у себя на компьютере.<br>
        В будущем будет возможность хостить небольшие вебсайты прямо у нас - воспользовавшись сервисом хостинга(в будущем)
        <h3>Особенности</h3>
        Наша сеть - уникальное пространство для разработки и тестирования айти проектов, клубы могут создавать свои веб-сайты.<br>

    </div>
</div>
<a href="/" class="link-button">> Домой</a>
{% endblock %}
