{% extends "base.html" %}

{% block content %}
<h2> - Администратор и разработчик - </h2>
admin://<span class="animated-nickname">Exception17</span><br>
(Кирилл Медведев)<br>
<a href="https://exception0170.github.io/about.html" class="link-button">[Профиль]</a> 
<a href="https://t.me/exception17" class="blue-button">[tg:@exception17]</a>
<h2> - Backend разработчик - </h2>
<span class="contact-name">Дмитрий Котов</span><br>
<h2> - Инвестор и аналитика - </h2>
<span class="contact-name">Елисей Гончаров</span><br>
<h2> - Ивенты, репрезентативное лицо - </h2>
<span class="contact-name">Андрей Зубков</span><br>
<h2> - Дизайн - </h2>
<span class="contact-name">Екатерина Русакова</span><br>
{% endblock %}
