<div class="window" style="width: 80%; border-color: #6488EA;">
  <div class="window-top-bar" style="background-color: #6488EA;">news.txt<span class="fake-close">X</span></div>
  <div class="window-content" style="color: #6488EA;">
    Последние новости:<br>
    <div class="news-container">
      {% if news_list %}
        {% for news in news_list %}
        [{{ news.date }}]: {{ news.text }}<br>
        {% endfor %}
      {% else %}
        Пока нет новостей! Кайфуем!
      {% endif %}
    </div>
  </div>
</div>