{% extends "base.html" %}
{% block content %}
<h1>sys://rules</h1>
<div class="window" style="width: 80%">
    <div class="window-top-bar">notepad.exe: rules.txt<span class="fake-close">X</span></div>
    <div class="window-content">
        <h2>Короткий список главных правил:</h2>
        1. Все участники обязаны уважать друг друга, соблюдать культуру общения и принципы цифровой этики.<br>
        2. Все действия внутри сети должны соответствовать всем правилам Центрального Университета.<br>
        3. Запрещено публиковать материалы, запрещённые в РФ и содержащие контент +18.<br>
        4. Запрещено препятствовать работе сети(CUCnet) какими-либо способами.<br>
        5. Запрещено передавать свой профиль третьим лицам.<br>
        <br>
        По вопросам правил обращаться к Андрею Зубкову(<a href="https://t.me/andruwka0">@andruwka0</a>)
        <br>
        <a href="/legal/tos" class="link-button">Полный свод правил</a>
    </div>
</div>
<a href="/" class="link-button">>Домой</a>
{% endblock %}
