<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/win95-styles.css') }}">
    <title>Win95 test</title>
</head>
<body>
    <div class="win95-window window-foreground">
        <div class="win95-window-top-bar">
            <b>Test.exe</b>
            <div class="win95-window-buttons">
                <button class="win95-fake-button"><b>_</b></button>
                <button class="win95-fake-button">☐</button>
                <button class="win95-fake-button"><b>X</b></button>
            </div>
        </div>
        <div class="win95-menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>View</span>
            <span>Help</span>
        </div>
        <div class="win95-window-content">
            <img src="/static/img/pc.png" alt="pc-icon" class="win95-icon"><br>
            * hello world! :D<br>
            Win95 interface<br>
            <span style="color:red">Amazing!</span>
            <hr>
            <button class="win95-button">Ok</button>
            <button class="win95-button">Cancel</button>
            <a href="/" class="link-button">Home</a>
        </div>
        1995
    </div>
    <div class="win95-window window-background">
        <div class="win95-window-top-bar">
            <b>MSDOS Prompt</b>
            <div class="win95-window-buttons">
                <button class="win95-fake-button"><b>_</b></button>
                <button class="win95-fake-button">☐</button>
                <button class="win95-fake-button"><b>X</b></button>
            </div>
        </div>
        <div class="win95-menu-bar">
            <span>File</span>
            <span>Edit</span>
            <span>View</span>
            <span>Help</span>
        </div>
        <div class="win95-window-content terminal-content">CUCnet Command Prompt (C) 2025
C:\>dir
 Volume in drive C has no label.
 Volume serial number is DEAD-BEEF

Directory of C:\

01/10/2025  12:00 PM    &lt;DIR&gt;          USERS
01/10/2025  12:00 PM    &lt;DIR&gt;          PROGRAM FILES
01/10/2025  12:00 PM               123  file.txt
01/10/2025  12:00 PM  хватит_смотреть_исходный_код.txt
C:\> echo Привет
Привет
C:\><span class="terminal-cursor">_</span>
        </div>
    </div>
</body>
</html>